.group-name{
  .group-name-label{
    padding-right: 15vw;
  }
  .name-imput{

  }

}
.computers{
  padding-top: 10vw;
}
.addbutton{
  height: 8vh;
  width: 9vw;
  font-size: 1.25rem;
}
.finishbutton{
  margin-left: 73%;
  height: 8vh;
  width: 9vw;
  font-size: 1.25rem;
}
