div{
  height: 100%;
  .div1{
    background-color: black;
      .config-name{
        float: left;
        width: 35vw;
        background-color: aqua;
      }
      .config-add-name{
        float:left;
        background-color: orange;
        width: 35vw;
      }
  }
  .div2{
      .div2-1{

      }
      .div2-2{

      }
  }
  .div3{
    background-color: black;

  }
}

.left{

}

right{

}

