<div class="header-background">
  <h1 class="request-header">
    <button class="button-configuration">Configurations</button>
    <button class="button-message">Message Log</button>
    <button class="button-alert">Alert Log</button>
    <button class="button-set-email">Set</button>
    <table class="table table-bordered"></table>

  </h1>
</div>

<div class="button-configuration">

</div>

<div class="button-message">

</div>

<div class="button-alert">

</div>

<div class="button-set-email">

</div>

<table class="table table-bordered">
  <thead>
  <tr class>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>




<app-search-bar></app-search-bar>
<app-side-bar></app-side-bar>
