<div class="application">
  <div class="Menu d-grid gap-2 col-6 mx-auto">
    <button routerLink="" class="btn btn-outline-secondary"  type="button"><img alt="" src="assets\IMG\2687779.png" style="height: 50px; width: 50px;"><p>Configurations</p></button>
    <button routerLink="/computers" class="btn btn-outline-secondary" type="button"><img alt="" src="assets\IMG\PCMenuImg.png" style="height: 50px; width: 50px;"><p>Computers</p></button>
    <button routerLink="/requests" class="btn btn-outline-secondary" type="button"><img alt="" src="assets\IMG\MONITOR.png" style="height: 50px; width: 50px;"><p>Monitor</p></button>
    <button routerLink="/logs" class="btn btn-outline-secondary" type="button"><img alt="" src="assets\IMG\LOGS.png" style="height: 50px; width: 50px;"><p>Logs</p></button>

  </div>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

