<app-side-bar></app-side-bar>
<div class="header-background">
  <h1 class="request-header">
    Configuration
  </h1>
</div>

<div class="card-background">
  <h1 class="pc-header">
    Config0
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config1
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config2
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config3
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config4
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config5
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config6
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config7
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config8
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config9
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>

<div class="card-background">
  <h1 class="pc-header">
    Config10
  </h1>
  <button class="button-allow" routerLink="/configurations/configedit">Edit</button>
  <button class="button-deny">Remove</button>
</div>

<div class="button-1">

</div>

<div class="button-2">

</div>




<app-search-bar></app-search-bar>








