div{
  background-color:white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    button{
      background-color: black;
      width: 25vw;
      height: 15vw;


    }
  }
}
