<div style="margin-top: 3vh"></div>
<table class="table table-bordered">
  <thead>
  <tr class="table2">
    <th scope="col">Computer</th>
    <th scope="col">Nickname</th>
    <th scope="col">IP</th>
    <th scope="col">MAC</th>
  </tr>
  </thead>
  <tbody>
  <tr class="column1">
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>TEST</td>
    <td>@twitter</td>
    <td>TEST</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>

  </tbody>
</table>

<div class="computers-buttons">


  <button class="button-add-group">Add Group</button>
  <button class="button-edit-group">Edit Group</button>

</div>

<button class="button-all-computers">All Computers</button>

<div class="card-background">
  <h1 class="pc-header">
    Group_1
  </h1>
</div>
<div class="card-background">
  <h1 class="pc-header">
    Group_2
  </h1>
</div>
<div class="card-background">
  <h1 class="pc-header">
    Group_3
  </h1>
</div>
<div class="card-background">
  <h1 class="pc-header">
    Group_4
  </h1>
</div>


<app-search-bar></app-search-bar>
<app-side-bar></app-side-bar>


